<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="logs/nlog.txt" internalLogLevel="Warn" autoReload="true" throwExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="Console" xsi:type="Console" layout="${longdate} | ${level} | ${threadid} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${callsite} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
    <target name="meting" xsi:type="File"
            fileName="logs/meting-${shortdate}.log"
            layout="${longdate} | ${level} | ${threadid} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${callsite} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />

    <target name="file" xsi:type="File"
                fileName="logs/${shortdate}.log"
                layout="${longdate} | ${level} | ${threadid} | ${aspnet-request-url:IncludeHost=false:IncludeScheme=false} | ${callsite} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="CustomStorageProvider" minlevel="Trace" writeTo="meting" />
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
</nlog>
