@{
    ViewData["Title"] = "Data";
}

<script type="text/javascript" src="~/js/Data.js"></script>


<div id="buttonContainer"></div>

<div class="demo-container">
    <div id="chart-demo">
        <div id="chart"></div>
    </div>
</div>