<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img id="logo" src="assets/images/logo_32x32.png" alt="logo" />
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/electricity">Electriciteit</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/gas">Gas</a>
      </li>

      <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="#" (click)="login()"><i>Inloggen</i></a>
      </li>

      <li *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="#" (click)="logout()"><i>Uitloggen</i></a>
      </li>
    </ul>
  </div>
</nav>