<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="logs/nlog.txt" internalLogLevel="Warn" autoReload="true" throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.AzureTables" />
  </extensions>

  <targets async="true">
    <target type="AzureTableStorage"
            name="AzureTable"
            machineName="QboxWebApi"
            tableName="QboxLogging"
            correlationId="${aspnet-TraceIdentifier}"
            connectionString="UseDevelopmentStorage=true;"
            layout="${longdate:universalTime=true} | ${level} | ${logger} | ${message} | ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}"
    />
    <target name="Console"
            xsi:type="ColoredConsole"
            layout="${longdate:universalTime=true} | ${level} | ${logger} | ${aspnet-TraceIdentifier} | ${message} | ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}"
    />
    <target name="File"
            xsi:type="File"
            fileName="logs/${shortdate}.log"
            layout="${longdate:universalTime=true} | ${level} | ${logger} | ${aspnet-TraceIdentifier} | ${message} | ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="AzureTable" />
    <logger name="*" minlevel="Debug" writeTo="File" />
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
</nlog>