@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity.Name
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}

@*@inject IAuthenticationService authService

<AuthorizeView>
    <Authorized>        
        <button @onclick="@(async ()=> await authService.LogOut())" >Log out</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="authService.Authorize">Log in</button>
    </NotAuthorized>
</AuthorizeView>*@